@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Poppins', sans-serif;
  font-family: 'Balsamiq Sans', cursive;
}
body{
  background-color: #2d2d2d;
  color: #b0b3b8;
}
main {
  text-align: center;
}
body.preload{
  transition: all 0.3s ease;
}
html {
  height: 100%;
}
.table-dark {
  --bs-table-bg: #2d2d2d;
  --bs-table-striped-bg: #222425;
  --bs-table-hover-bg: #4e4f50;
  --bs-table-striped-color: #b0b3b8;
  color: #b0b3b8;
}

.card {
  background-color: #222425;
  position: static;
}
ul.pagination li a{
  background-color: #222425;
  color: #b0b3b8;
  border-color: #222425;
}
.page-item.disabled .page-link{
  background-color: #222425;
  border-color: #222425;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  background-color: #222425;
  border-color: #2d2d2d;
  color: #b0b3b8;
}
.nav-tabs{
  border-bottom: 1px solid #222425;
}
div.card .list-group-item{
  background-color: #222425;
}
/* Dropdown menu */

nav.menu{
  position: -webkit-sticky;
  position: sticky;
    top: 10px;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 55px;
}
nav .drop-btn{
  width: auto;
  background: #222425;
  border-radius: 5px;
  line-height: 55px;
  font-size: 20px;
  font-weight: 500;
  color: #b0b3b8;
  padding: 0 20px;
}
nav .drop-btn span{
  line-height: 50px;
  font-size: 28px;
  cursor: pointer;
}
nav .tooltip{
  position: absolute;
  right: 20px;
  bottom: -20px;
  height: 15px;
  width: 15px;
  background: #242526;;
  transform: rotate(45deg);
  display: none;
}
nav .tooltip.show{
  display: block;
}
nav .wrapper{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: -135px;
    top: 65px;
    width: 319px;
    overflow: hidden;
    border-radius: 5px;
    background: #222425;
    display: none;
    transition: all 0.3s ease;
}
@media (max-width: 576px){
  nav .wrapper {
    left: -263px;
    top: 75px;
  }
  nav.menu {
    left: 85%;
    transform: translate(-50%, -140%);
  }
}
@media (max-width: 320px){
  nav .wrapper {
    left: -238px;
    top: 75px;
  }
  nav.menu {
    left: 85%;
    transform: translate(-50%, -120%);
  }
}
nav .wrapper.show{
  display: flex;
}
.wrapper ul{
  width: 319px;
  list-style: none;
  padding: 10px;
  transition: all 0.3s ease;
}
.wrapper ul li{
  line-height: 55px;
}
.wrapper ul li a{
  position: relative;
  color: #b0b3b8;
  font-size: 18px;
  font-weight: 500;
  padding: 0 10px;
  display: flex;
  border-radius: 8px;
  align-items: center;
  text-decoration: none;
}
.wrapper ul li:hover a{
  background: #3A3B3C;
}
ul li a .icon{
  height: 40px;
  width: 40px;
  margin-right: 13px;
  background: #ffffff1a;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
}
ul li a .icon span{
  line-height: 40px;
  font-size: 20px;
  color: #b0b3b8;
}
ul li a .icon img{
    max-width: 40px;
    width: 100%;
    border-radius: 50%;
  }
ul li a i {
  position: absolute;
  right: 10px;
  font-size: 25px;
  pointer-events: none;
}
.wrapper ul.setting-drop,
.wrapper ul.help-drop{
  display: none;
}
.wrapper .arrow{
  padding-left: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #b0b3b8;
  cursor: pointer;
}
.wrapper .arrow span{
  margin-right: 15px;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}