{% extends "layout.html" %}

{% block title %}
Borrowed
{% endblock %}

{% block main %}
<style>
    h1 {
        font-size: 40px;
    }
    main div {
        margin: 20px;
    }
    main div img {
        max-width: 50%;
        height: auto;
        margin-right: 20px;
    }
    @media (max-width: 768px){
        main div img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
        }
    }
</style>
    <div>
        <img src="/static/images/book-covers/{{ book['id'] }}.jpg">
        <div><h1>{{ book['name'] }}</h1></div>
        Book borrowed!
    </div><br>
    <a role="button" class="btn btn-primary btn-lg" href="/">Go home</a>
{% endblock %}