{% extends "layout.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block main %}
<style>
  .alignMe b {
    text-align: right;
  display: inline-block;
  width: 50%;
  position: relative;
  padding-right: 10px; /* Ensures colon does not overlay the text */
}
.alignMe #no {
  text-align: center;
}
.alignMe b::after {
  content: ":";
  position: absolute;
  right: 1px;
}
@media (min-width: 430px){
    #card{
        width: 18rem;
    }
}
@media (max-width: 430px){
    #container{
        width: 20rem;
    }
}
</style>
    <h1>Позичені книги:</h1>
    <!--Navigation-->
    <nav>
        <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
          {% if prep %}
          <a class="nav-link active text-primary" id="nav-prep-tab" data-bs-toggle="tab" href="#nav-prep" role="tab" aria-controls="nav-prep" aria-selected="true">Приготувати до видачі</a>
          <a class="nav-link text-danger" id="nav-over-tab" data-bs-toggle="tab" href="#nav-over" role="tab" aria-controls="nav-over" aria-selected="false">Запізнені</a>
          <a class="nav-link" style="color: #f17143;" id="nav-today-tab" data-bs-toggle="tab" href="#nav-today" role="tab" aria-controls="nav-today" aria-selected="true">До здачі сьогодні</a>
          {% else %}
          <a class="nav-link text-primary" id="nav-prep-tab" data-bs-toggle="tab" href="#nav-prep" role="tab" aria-controls="nav-prep" aria-selected="true">Приготувати до видачі</a>
          <a class="nav-link text-danger" id="nav-over-tab" data-bs-toggle="tab" href="#nav-over" role="tab" aria-controls="nav-over" aria-selected="false">Запізнені</a>
          <a class="nav-link active" style="color: rgb(241, 113, 67);" id="nav-today-tab" data-bs-toggle="tab" href="#nav-today" role="tab" aria-controls="nav-today" aria-selected="true">До здачі сьогодні</a>
          {% endif %}
          <a class="nav-link text-warning" id="nav-soon-tab" data-bs-toggle="tab" href="#nav-soon" role="tab" aria-controls="nav-soon" aria-selected="false">До здачі скоро</a>
          <a class="nav-link text-success" id="nav-later-tab" data-bs-toggle="tab" href="#nav-later" role="tab" aria-controls="nav-later" aria-selected="false">Позичені</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">

        <!--Prep tab-->
        {% if prep %}
        <div class="tab-pane fade show active" id="nav-prep" role="tabpanel" aria-labelledby="nav-prep-tab">
        {% else %}
        <div class="tab-pane fade" id="nav-prep" role="tabpanel" aria-labelledby="nav-prep-tab">
        {% endif %}
          {% if prep %}
          <div class="row justify-content-center">
            {% for book in prep %}
            <div class="col-lg-4 col-md-6" id="container" style="margin-top: 7px; margin-bottom: 7px;">
            <div class="card border-primary" id="card">
                {% if book[0].image %}
                  <img src="{{ book[0].image }}" class="card-img-top" alt="Cover for {{book[0].name}}">
                {% else %}
                  <img src="/static/images/nocover.jpg" class="card-img-top" alt="Cover for {{book[0].name}}">
                {% endif %}
                <div class="card-body">
                  <h5 class="card-title">{{book[0].name}}</h5>
                  <p class="card-text">{{book[0].description|truncate(100, end=" ...")}}</p>
                </div>
                <ul class="list-group list-group-flush alignMe" style="text-align: left;">
                  <li class="list-group-item" id="no"><b>Позичальник</b> <br><a href="/profile/{{book[1].school_id}}">{{book[1].first}} {{book[1].last}}</a></li>
                  <li class="list-group-item"><b>Позичено</b> {{book[0].borrow_start.strftime("%b %d")}}</li>
                  <li class="list-group-item"><b>До здачі</b> {% if book[0].borrow_end.strftime("%y/%m/%d") == "69/04/20" %} Unlimited {% else %} {{ book[0].borrow_end.strftime("%b %d") }} {% endif %}</li>
                </ul>
                <div class="card-body">
                  <a href="mailto:{{book[1].email}}" class="card-link text-primary">Звязатися</a>
                  <a href="/book/{{book[0].id}}" class="card-link text-primary">Переглянути книгу</a>
                </div>
              </div>
              </div>
              {% endfor %}
          </div>
              {% else %}
              <h1 style="margin: 20px;">Немає нових замовлень</h1>
              {% endif %}
        </div>

        <!--Due today tab-->
        {% if not prep %}
        <div class="tab-pane fade show active" id="nav-today" role="tabpanel" aria-labelledby="nav-today-tab">
        {% else %}
        <div class="tab-pane fade" id="nav-today" role="tabpanel" aria-labelledby="nav-today-tab">
        {% endif %}
            {% if today %}
          <div class="row justify-content-center">
            {% for book in today %}
            <div class="col-lg-4 col-md-6" id="container" style="margin-top: 7px; margin-bottom: 7px;">
            <div class="card border-success" id="card" style="border-color: #f17143!important;">
                <img src="{{ book[0].image }}" class="card-img-top" alt="Cover for {{book[0].name}}">
                <div class="card-body">
                  <h5 class="card-title">{{book[0].name}}</h5>
                  <p class="card-text">{{book[0].description|truncate(100, end=" ...")}}</p>
                </div>
                <ul class="list-group list-group-flush alignMe" style="text-align: left;">
                  <li class="list-group-item" id="no"><b>Позичальник</b> <br><a href="/profile/{{book[1].school_id}}">{{book[1].first}} {{book[1].last}}</a></li>
                  <li class="list-group-item"><b>Позичено</b> {{book[0].borrow_start.strftime("%b %d")}}</li>
                  <li class="list-group-item"><b>До здачі</b> {% if book[0].borrow_end.strftime("%y/%m/%d") == "69/04/20" %} Unlimited {% else %} {{ book[0].borrow_end.strftime("%b %d") }} {% endif %}</li>
                </ul>
                <div class="card-body">
                  <a href="mailto:{{book[1].email}}" class="card-link" style="color: #f17143!important;">Звязатися</a>
                  <a href="/book/{{book[0].id}}" class="card-link" style="color: #f17143!important;">Переглянути книгу</a>
                </div>
              </div>
              </div>
              {% endfor %}
            </div>
              {% else %}
              <h1 style="margin: 20px;">Немає очікуваних книг</h1>
              {% endif %}
        </div>

        <!--Due soon tab-->
        <div class="tab-pane fade" id="nav-soon" role="tabpanel" aria-labelledby="nav-soon-tab">
          {% if soon %}
          <div class="row justify-content-center">
            {% for book in soon %}
            <div class="col-lg-4 col-md-6" id="container" style="margin-top: 7px; margin-bottom: 7px;">
            <div class="card border-warning" id="card">
                <img src="{{ book[0].image }}" class="card-img-top" alt="Cover for {{book[0].name}}">
                <div class="card-body">
                  <h5 class="card-title">{{book[0].name}}</h5>
                  <p class="card-text">{{book[0].description|truncate(100, end=" ...")}}</p>
                </div>
                <ul class="list-group list-group-flush alignMe" style="text-align: left;">
                  <li class="list-group-item" id="no"><b>Позичальник</b> <br><a href="/profile/{{book[1].school_id}}">{{book[1].first}} {{book[1].last}}</a></li>
                  <li class="list-group-item"><b>Позичено</b> {{book[0].borrow_start.strftime("%b %d")}}</li>
                  <li class="list-group-item"><b>До здачі</b> {% if book[0].borrow_end.strftime("%y/%m/%d") == "69/04/20" %} Unlimited {% else %} {{ book[0].borrow_end.strftime("%b %d") }} {% endif %}</li>
                </ul>
                <div class="card-body">
                  <a href="mailto:{{book[1].email}}" class="card-link text-warning">Звязатися</a>
                  <a href="/book/{{book[0].id}}" class="card-link text-warning">Переглянути книгу</a>
                </div>
              </div>
              </div>
              {% endfor %}
            </div>
              {% else %}
              <h1 style="margin: 20px;">Немає книг до здачі скоро</h1>
              {% endif %}
        </div>

        <!--Overdue tab-->
        <div class="tab-pane fade" id="nav-over" role="tabpanel" aria-labelledby="nav-over-tab">
          {% if over %}
          <div class="row justify-content-center">
            {% for book in over %}
            <div class="col-lg-4 col-md-6" id="container" style="margin-top: 7px; margin-bottom: 7px;">
            <div class="card border-danger" id="card">
                <img src="{{ book.image }}" class="card-img-top" alt="Cover for {{book[0].name}}">
                <div class="card-body">
                  <h5 class="card-title">{{book[0].name}}</h5>
                  <p class="card-text">{{book[0].description|truncate(100, end=" ...")}}</p>
                </div>
                <ul class="list-group list-group-flush alignMe" style="text-align: left;">
                  <li class="list-group-item" id="no"><b>Позичальник</b> <br><a href="/profile/{{book[1].school_id}}">{{book[1].first}} {{book[1].last}}</a></li>
                  <li class="list-group-item"><b>Позичено</b> {{book[0].borrow_start.strftime("%b %d")}}</li>
                  <li class="list-group-item"><b>До здачі</b> {% if book[0].borrow_end.strftime("%y/%m/%d") == "69/04/20" %} Unlimited {% else %} {{ book[0].borrow_end.strftime("%b %d") }} {% endif %}</li>
                </ul>
                <div class="card-body">
                  <a href="mailto:{{book[1].email}}" class="card-link text-danger">Звязатися</a>
                  <a href="/book/{{book[0].id}}" class="card-link text-danger">Переглянути книгу</a>
                </div>
              </div>
              </div>
              {% endfor %}
            </div>
              {% else %}
              <h1 style="margin: 20px;">Немає запізнених книг</h1>
              {% endif %}
        </div>

        <!--Due later tab-->
        <div class="tab-pane fade" id="nav-later" role="tabpanel" aria-labelledby="nav-later-tab">
          {% if later %}
          <div class="row justify-content-center">
            {% for book in later %}
            <div class="col-lg-4 col-md-6" id="container" style="margin-top: 7px; margin-bottom: 7px;">
            <div class="card border-success" id="card">
                <img src="{{ book[0].image }}" class="card-img-top" alt="Cover for {{book[0].name}}">
                <div class="card-body">
                  <h5 class="card-title">{{book[0].name}}</h5>
                  <p class="card-text">{{book[0].description|truncate(100, end=" ...")}}</p>
                </div>
                <ul class="list-group list-group-flush alignMe" style="text-align: left;">
                  <li class="list-group-item" id="no"><b>Позичальник</b> <br><a href="/profile/{{book[1].school_id}}">{{book[1].first}} {{book[1].last}}</a></li>
                  <li class="list-group-item"><b>Позичено</b> {{book[0].borrow_start.strftime("%b %d")}}</li>
                  <li class="list-group-item"><b>До здачі</b> {% if book[0].borrow_end.strftime("%y/%m/%d") == "69/04/20" %} Unlimited {% else %} {{ book[0].borrow_end.strftime("%b %d") }} {% endif %}</li>
                </ul>
                <div class="card-body">
                  <a href="mailto:{{book[1].email}}" class="card-link text-success">Звязатися</a>
                  <a href="/book/{{book[0].id}}" class="card-link text-success">Переглянути книгу</a>
                </div>
              </div>
              </div>
              {% endfor %}
          </div>
              {% else %}
              <h1 style="margin: 20px;">Немає позичених книг</h1>
              {% endif %}
        </div>
      </div>
{% endblock %}