{% extends "layout.html" %}

{% block title %}
editing {{ person.first }}{{ person.last }}
{% endblock %}

{% block main %}
<style>
    h1 {
        font-size: 40px;
    }
    main div {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    main div img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    }
    form div input {
        text-align: left;
    }
    
</style>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <img src="{{person.picture}}" style="width: 25%; border-radius: 50%;" alt="{{person.first}}'s profile picture">
            </div>
            <div class="col-md">
                <form action="/profile/{{ person.school_id }}/edit" method="POST">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label"><h3>Ім'я</h3></label>
                        <input class="form-control" id="exampleFormControlInput1" name="first" value="{{ person.first }}">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label"><h3>Прізвище</h3></label>
                        <input class="form-control" id="exampleFormControlInput1" name="last" value="{{ person.last }}">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label"><h3>Email</h3></label>
                        <input class="form-control" id="exampleFormControlInput1" disabled value="{{ person.email }}">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label"><h3>Привілегії</h3></label>
                        <select class="form-select" name="role" aria-label="Current age group">
                            <option selected hidden value="{{ person.role }}">{% if person.role == "adult" %} Клієнт {% elif person.role == "child" %} Дитячий аккаунт {% elif person.role == "teacher" %} Вчитель {% else %} Адміністратор {% endif %}</option>
                            <option value="adult">Клієнт</option>
                            <option value="teacher">Вчитель</option>
                            <option disabled value="">Адміністратор</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label"><h3>ID</h3></label>
                        <input class="form-control" id="exampleFormControlInput1" disabled value="{{ person.school_id }}">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label"><h3>Google ID</h3></label>
                        <input class="form-control" id="exampleFormControlInput1" disabled value="{{ person.google_id }}">
                    </div>
                    <div class="col-12">
                        <button type="button" class="btn btn-primary mb-3 btn-lg justify-content-center" data-bs-toggle="modal" data-bs-target="#editModal">Редагувати</button>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Редагування профілю</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Підтвердити ці зміни?
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Відмінити</button>
                            <button type="submit" class="btn btn-primary">Підтвердити</button>
                        </div>
                        </div>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}