{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

<!-- Google authentication tags-->
{% block google_auth %}
    <meta name="google-signin-client_id" content="{{ google_signin_client_id }}">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="/static/login-out.js"></script>
{% endblock %}

{% block main %}
    <style>
        div{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <a href="#" onclick="signOut();">Sign out</a>
{% endblock %}