{% extends "layout.html" %}

{% block title %}
Markout
{% endblock %}

{% block main %}
    <h5>За допомогою цієї форми ви можете видати книги іншим людям</h5><br>
    <form action="/markout" method="POST" class="row g-3">
        <div class="col-md-4">
            <label class="form-label">ID клієнта</label>
            <input type="number" class="form-control" required name="person" placeholder="ID#">
          </div>
          <div class="col-md-4">
            <label class="form-label">ID книги</label>
            <input type="number" required class="form-control" name="book" placeholder="ID#">
          </div>
          <div class="col-md-3">
              <label class="form-label">Дата початку періоду</label>
              <input type="date" class="form-control" id="start" required name="start">
          </div>
          <div class="col-12">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Видати</button>
        </div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Видача книги</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Підтвердіть видачу цієї книги
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Відмінити</button>
            <button type="submit" class="btn btn-primary">Підтвердити</button>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}