<nav class="menu">
    <div class="drop-btn">
        <span class="fas fa-caret-down"></span>
    </div>
    <div class="wrapper" id="navbar">

        <!--Main menu-->

        <ul class="menu-bar">
            <li>
                <a href="/profile" style="color: #c48301;">
                    <div class="icon">
                        <img src="{{ user['picture'] }}" alt="profile picture">
                    </div>
                Мій профіль</a>
            </li>

            <li>
                <a href="/">
                    <div class="icon">
                        <span class="fas fa-book"></span>
                    </div>
                Мої книги</a>
            </li>
            
            <li>
                <a href="/search">
                    <div class="icon">
                        <span class="fas fa-search"></span>
                    </div>
                Пошук</a>
            </li>

            <li class="help-item">
                <a href="#">
                    <div class="icon">
                        <span class="fas fa-question-circle"></span>
                    </div>
                Допомога і підтримка 
                <i class="fas fa-angle-right"></i>
                </a>
            </li>

            <li class="setting-item">
                <a href="#">
                    <div class="icon">
                        <span class="fas fa-cog"></span>
                    </div>
                    Налаштування 
                <i class="fas fa-angle-right"></i>
                </a>
            </li>

            <li>
                <a href="https://www.ridneslovo.ca/">
                    <div class="icon">
                        <span class="far fa-hand-point-left"></span>
                    </div>
                ridneslovo.ca</a>
            </li>
        </ul>

        <!-- Settings Menu-items -->
    
        <ul class="setting-drop">
            <li class="arrow back-setting-btn">
                <span class="fas fa-arrow-left"></span>
                Налаштування
            </li>
            <li hidden>
                <a href="#" id="installButton">
                    <div class="icon">
                        <span class="fas fa-download"></span>
                    </div>
                Встановити додаток</a>
            </li>
            <li>
                <a href="#" id="push-btn">
                    <div class="icon">
                        <span class="fas fa-bell"></span>
                    </div>
                Увімкнути сповіщення</a>
            </li>
            <li>
                <a href="#" id="theme-toggle">
                    <div class="icon">
                        <span class="fas fa-moon"></span>
                    </div>
                Темна тема</a>
            </li>
            {% if user["role"] != "child" %}
                <li>
                    <a href="/add_child">
                        <div class="icon">
                            <span class="fas fa-child"></span>
                        </div>
                    Додати дитячий профіль</a>
                </li>
            {% endif %}
            <li>
                <a href="/logout" onclick="signOut();">
                    <div class="icon">
                        <span class="fas fa-sign-out-alt"></span>
                    </div>
                Вийти </a>
            </li>
        </ul>

    <!-- Help & support Menu-items -->
        <ul class="help-drop">
            <li class="arrow back-help-btn">
                <span class="fas fa-arrow-left"></span>
                Допомога і підтримка
            </li>

            <li>
                <a href="mailto:library@ridneslovo.ca" target="_blank">
                    <div class="icon">
                        <span class="fas fa-envelope"></span>
                    </div>
                    Написати бібліотеці 
                </a>
            </li>

            <li>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfGIrtuNR9FmprYQxWTP_50Sr4gV91-OJwX0SjzFWNQsQ0p0g/viewform" target="_blank">
                    <div class="icon">
                        <span class="fas fa-exclamation-circle"></span>
                    </div>
                    Повідомити про помилку 
                </a>
            </li>
        </ul>
    </div>
    <script src="/static/dropdown-menu.js"></script>
</nav>

<script src="/static/pwa/install.js"></script>