<nav class="menu">
    <div class="drop-btn">
        <span class="fas fa-caret-down"></span>
    </div>
    <div class="wrapper">

        <!--Main menu-->

        <ul class="menu-bar">
            <li>
                <a href="/profile">
                    <div class="icon">
                        <img src="{{ user['pfp'] }}" alt="profile picture">
                    </div>
                My profile </a>
            </li>

            <li>
                <a href="/">
                    <div class="icon">
                        <span class="fas fa-book"></span>
                    </div>
                My books </a>
            </li>
            
            <li>
                <a href="/search">
                    <div class="icon">
                        <span class="fas fa-search"></span>
                    </div>
                Search </a>
            </li>

            <li class="help-item">
                <a href="#">
                    <div class="icon">
                        <span class="fas fa-chalkboard-teacher"></span>
                    </div>
                Admin tools 
                <i class="fas fa-angle-right"></i>
                </a>
            </li>

            <li>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfGIrtuNR9FmprYQxWTP_50Sr4gV91-OJwX0SjzFWNQsQ0p0g/viewform">
                    <div class="icon">
                        <span class="fas fa-exclamation-circle"></span>
                    </div>
                    Report problem 
                </a>
            </li>

            <li>
                <a href="/logout" onclick="signOut();">
                    <div class="icon">
                        <span class="fas fa-sign-out-alt"></span>
                    </div>
                Log out </a>
            </li>
        </ul>

        <!-- Settings & privacy Menu-items -->
    
        <ul class="setting-drop">
            <li class="arrow back-setting-btn">
                <span class="fas fa-arrow-left"></span>
                Settings & privacy
            </li>
            <li>
                <a href="#">
                    <div class="icon">
                        <span class="fas fa-user"></span>
                    </div>
                Personal info 
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="icon">
                        <span class="fas fa-lock"></span></div>
                Password </a>
            </li>
             <li>
                 <a href="#">
                    <div class="icon">
                        <span class="fas fa-address-book"></span></div>
            Activity log 
                </a>
            </li>

            <li>
                <a href="#">
                    <div class="icon">
                        <span class="fas fa-globe-asia"></span></div>
                    Languages 
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="icon">
                        <span class="fas fa-sign-out-alt"></span></div>
                    Log out 
                </a>
            </li>
        </ul>

    <!-- Help & support Menu-items -->
        <ul class="help-drop">
            <li class="arrow back-help-btn">
                <span class="fas fa-arrow-left"></span>
                Admin tools
            </li>

            <li>
                <a href="/board">
                    <div class="icon">
                        <span class="fas fa-columns"></span>
                    </div>
                    Dashboard 
                </a>
            </li>

            <li>
                <a href="/markout">
                    <div class="icon">
                        <span class="fas fa-marker"></span>
                    </div>
                    Markouts
                </a>
            </li>

            <li>
                <a href="/students">
                    <div class="icon">
                        <span class="fas fa-user-graduate"></span>
                    </div>
                    Students
                </a>
            </li>
        </ul>
    </div>
    <script src="/static/dropdown-menu.js"></script>
</nav>