{% extends "layout.html" %}

{% block title %}
Terms of Service
{% endblock %}

{% block main %}
<h1>
    Ridna Library: Privacy policy
</h1>
<p>
    Ridna library acesses your Google account on sign in to provide additional security and convinience of use. In order to distinguish between users and maintain communication regarding your book status, Ridna Library collects your basic information such as:
</p>
<ul>
    <li>Your first and last name</li>
    <li>Your email adress</li>
    <li>Your Google profile picture</li>
    <li>Your Google id</li>
    <li>Coming soon: Access to your Google calendar to create reminders about pickups and returns</li>
</ul>
<p>
    This information is stored securely in our database and shared only with the library administrators. For more infornation regarding Google's policies on data collection privacy, visit <a href="https://developers.google.com/terms">https://developers.google.com/terms</a>
</p>
{% endblock %}