{% extends "layout.html" %}

{% block title %}
{{person.first}} {{person.last}}
{% endblock %}

{% block main %}
<script>
    jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>
<style>
    main img {
        margin: 20px;
    }
    th {
            width: 150px;
        }
    th img {
        width:100%;
    }
</style>
    <img src="{{person.picture}}" style="width: 25%; border-radius: 50%;" alt="{{person.first}}'s profile picture">
    <h1>{{person.first}} {{person.last}}</h1>
    <h5 style="text-align: left;"><b>Email:</b> <a href="mailto:{{person.email}}">{{person.email}}</a></h5>
    <h5 style="text-align: left;"><b>School ID:</b> #{{person.school_id}}</h5>
    {% if books %}
        <h3>Borrowed books:</h3>
        <table class="table table-striped table-hover" name="table">
            <thead>
              <tr>
                <th scope="col"><!--Image--></th>
                <th scope="col">Назва книги</th>
                <th scope="col">Дата позичання</th>
                <th scope="col">Дата повернення</th>
              </tr>
            </thead>
            <tbody>
            {% for book in books %}
              <tr class='clickable-row' data-href="/book/{{ book.id }}">
                <th>
                  {% if book.image %}
                      <img src="{{ book.image }}" class="rounded float-start">
                  {% else %}
                      <img src="/static/images/nocover.jpg" class="rounded float-start">
                  {% endif %}
                </th>
                <td><b>{{ book["name"]}}</b></td>
                <td>{{ book.borrow_start.strftime("%b %d") }}</td>
                {% if book.borrow_end.strftime("%y/%m/%d") == "69/04/20" %}
                <td>Unlimited access</td>
                {% else %}
                <td>{{ book.borrow_end.strftime("%b %d") }}</td>
                {% endif %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
    {% else %}
    <br>
    <h6>Ця інформація була представлена нам з вашого профілю Google. Її можна редагувати у ваших налаштуваннях Google.</h6>
    <a class="btn btn-primary" href="https://myaccount.google.com/personal-info" role="button">Налаштування</a>
    {% endif %}
{% endblock %}