{% extends "layout.html" %}

{% block title %}
Search
{% endblock %}

{% block main %}
<style>
    form {
        margin: 15px;
    }
</style>
    <h5>Шукайте книги за допомогою цієї форми</h5>

<!--Search bar-->

<div class="row">
<div class="col-md-9">
    <form method="POST" action="/search" class="row g-3">
        <div class="col-md-12">
            <input type="text" autocomplete="off" class="form-control" name="query" placeholder="Назва книги / Автор">
        </div>
        <div class="col-2">
            Вікові категорії:
        </div>
        <div class="form-check col-1">
            <input class="form-check-input" type="checkbox" name="age-group" value="C" id="c-check" checked>
            <label class="form-check-label" for="c-check">
              C
            </label>
        </div>
        <div class="form-check col-1">
            <input class="form-check-input" type="checkbox" name="age-group" value="CT" id="ct-check" checked>
            <label class="form-check-label" for="ct-check">
              CT
            </label>
        </div>
        <div class="form-check col-1">
            <input class="form-check-input" type="checkbox" name="age-group" value="T" id="t-check" checked>
            <label class="form-check-label" for="t-check">
              T
            </label>
        </div>
        <div class="form-check col-1">
            <input class="form-check-input" type="checkbox" name="age-group" value="TA" id="ta-check" checked>
            <label class="form-check-label" for="ta-check">
              TA
            </label>
        </div>
        <div class="form-check col-1">
            <input class="form-check-input" type="checkbox" name="age-group" value="A" id="a-check" checked>
            <label class="form-check-label" for="a-check">
              A
            </label>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Пошук</button>
        </div>
    </form>
</div>
<div class="col-md-3">
    <form method="POST" action="/search/1" class="row g-3">
        <div class="col-md-12">
            <input type="number" class="form-control" required name="number" placeholder="ID книги">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Пошук</button>
        </div>
    </form>
</div>
</div>

<!--Search results-->

{% if books %}
<div class="row">
    {% for book in books.items %}
    <div class="col-lg-4 col-md-6" style="margin-top: 7px; margin-bottom: 7px;">
        <div class="card h-100" style="width: 18rem;">
            {% if book.image %}
                <img src="{{ book.image }}" class="card-img-top" alt="Cover for {{book.name}}">
            {% else %}
                <img src="/static/images/nocover.jpg" class="card-img-top" alt="Cover for {{book.name}}">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title"><b>{{book.name}}</b></h5>
              <p class="card-text">{{book.description|truncate(200, end=" ...")}}</p>
              <a href="/book/{{book.id}}" class="btn btn-primary">Переглянути</a>
            </div>
          </div>
    </div>
    {% endfor %}
</div>
{% else %}
<h1 style="margin: 20px;">Нічого не знайдено</h1>
{% endif %}

<!--Page selector-->
{% if books.pages != 0 %}
    <nav aria-label="Search result pages">
        <ul class="pagination justify-content-center" style="margin: 10px;">
        {% if books.page == 1 %}
            <li class="page-item disabled"><a class="page-link" href="{{ url_for('search', page=books.prev_num) }}">Назад</a></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('search', page=books.prev_num) }}">Назад</a></li>
        {%endif%}
          {% for pagenum in books.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if pagenum %}
            {% if pagenum == books.page %}
            <li class="page-item active"><a class="page-link" href="{{ url_for('search', page=pagenum) }}">{{pagenum}}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('search', page=pagenum) }}">{{pagenum}}</a></li>
            {% endif %}
          {% else %}
            <li class="page-item"><a class="page-link">...</a></li>
          {% endif %}
          {% endfor %}
        {% if books.page == books.pages %}
            <li class="page-item disabled"><a class="page-link" href="{{ url_for('search', page=books.next_num) }}">Вперед</a></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('search', page=books.next_num) }}">Вперед</a></li>
        {%endif%}
        </ul>
    </nav>
{% endif %}
{% endblock %}