{% extends "layout.html" %}

{% block title %}
Terms of Service
{% endblock %}

{% block main %}
<h1>
    Ridna Library: Terms of Service
</h1>
<h4>Загальні умови</h4>
<ul>
    <li>Користувачами бібліотеки можуть бути дорослі та діти, які проживають у регіональному окрузі Метро-Ванкувер (?) </li>
    <li>Діти до 16-ти років мають право особисто позичати книги в бібліотеці, відповідальність за своєчасне повернення книги у належному стані лежить на батьках/опікунах дітей</li>
    <li>Користування бібліотекою <b>абсолютно безкоштовне для всіх</b>, однак для запобігання збитків та безвідповідального ставлення до книг (неповернення, втрата, пошкодження) користувачі при позиченні книг залишають депозит у розмірі 30 CAD. При поверненні книг, депозит у повному розмірі повертається користувачеві. Дякуємо за розуміння!</li>
    <li>Користувач може позичити щонайбільше 3 (5?) книг щонайбільше на 2 (3?) тижні. Просимо з відповідальністю поставитися до термінів здачі книг: не позбавляйте можливості користуватися обраними Вами книгами інших людей. </li>
    <li>Якщо користувач за певних обставин не може вчасно повернути книгу, він повинен повідомити про це бібліотеку (e-mail, по телефону (?)). Ми з розумінням ставимося до різних життєвих ситуацій та обставин.</li>
    <li>При злісному недотриманні правил користування бібліотекою (систематичні затримки повернення, втрати чи серйозні пошкодження книг), бібліотека має право відмовити Вам у подальшій позиці книг. Дякуємо за розуміння! </li>
</ul>
<h4>Як позичити книгу</h4>
<ol>
    <li>Для того, щоб позичити книгу, користувачу потрібно за допомогою свого облікового запису Google зайти на сайт бібліотеки, вибрати бажані книги та зробити замовлення</li>
    <li>Прийти у приміщення бібліотеки (502 5th Ave, New Westminster, BC V3L 1P3) у день видачі (щосуботи о 13:30-14:00(?) за винятком свят), підтвердити свою особу, отримати книги, особисто перевірити правильність замовлення та кількість обраних книг</li>
    <li>Залишити депозит у розмірі 30 CAD (які користувач отримує назад при поверненні книг)</li>
</ol>
<h4>Як повернути книгу</h4>
<ol>
    <li>Прийти у приміщення бібліотеки (502 5th Ave, New Westminster, BC V3L 1P3) у день видачі (щосуботи 0 13:30-14:00(?) за винятком свят), підтвердити свою особу, повернути позичені книги, отримати назад депозит у розмірі 30 CAD.</li>
    <li>Якщо користувач має бажання позичити нові книги, він повинен знову залишити депозит у розмірі 30 CAD.</li>
    <li>Якщо користувач пропустив термін здачі книг, бібліотека надсилає нагадування (e-mail, по телефону). Після ігнорування нагадувань, бібліотека залишає за собою право не повертати депозит у розмірі 30 CAD або відмовити користувачу у подальшому користуванні бібліотекою.</li>
    <li>При втраті книги користувач повинен відшкодувати прийнятним для бібліотеки чином збитки.</li>
</ol>
{% endblock %}