main#collection {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 2rem;
}

#filters {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    gap: 1rem;
    height: 85vh;
}

.filter-section {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

#filters input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 0.5rem;
    background: transparent;
    margin: 0;
}

.filter-section .expand_filter-container {
    background-color: transparent;
    border: none;
    color: var(--text-dark);
    transition: all 0.3s ease;
}

.filter-section .expand_filter-container:hover {
    background-color: transparent;
    transform: translateY(-3px);
}

.filter-section h3 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.checkbox:not([hidden]) {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#filters input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

#filter-checkboxes {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 0.5rem;
    padding-right: .5rem;
}

#filters .submit-buttons-container button {
    margin-top: auto;
    padding: 0.75rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 0;
}

#filters .submit-buttons-container button *,
#filters .submit-buttons-container button * {
    color: var(--bg-light);
}

#filters .submit-buttons-container button[type="button"] {
    background-color: var(--bg-light) !important;
    color: var(--ukrainian-blue) !important;
    overflow: hidden;
    padding: 0;
    border: none;
}

#filters .submit-buttons-container button[type="button"] *,
#filters .submit-buttons-container button[type="button"] * {
    color: var(--ukrainian-blue) !important;
}

.submit-buttons-container {
    display: grid;
    grid-template-columns: 0fr 1fr;
    gap: .5rem;
    transition: grid-template-columns 300ms ease;
}

.submit-buttons-container.show-clear-button {
    grid-template-columns: 1fr 1fr;
}

.submit-buttons-container.show-clear-button button[type="button"] {
    border: 2px solid var(--ukrainian-blue) !important;
    padding: 0.75rem !important;
}

#no-items-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#no-items-message span.material-symbols-outlined {
    font-size: 6rem;
}

#item-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: auto 1fr auto;
    gap: 1.5rem;
    width: 100%;
}

.item-card {
    display: flex !important;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
    text-decoration: none;
    height: fit-content;
    color: inherit;
    border: 1px solid var(--border-light);
    border-radius: 8px;
    padding: 1rem;
    transition: all 0.3s ease !important;
    position: relative;
}

.item-card .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 6px;
}

.item-card .image-container img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 2/3;
}

.item-card .no-image-placeholder {
    width: 100%;
    aspect-ratio: 2/3;
    background-color: var(--grey);
    border: 2px dashed var(--dark-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
}

.item-card .no-image-placeholder .material-symbols-outlined {
    font-size: 2rem;
}

.item-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transform: none !important;
}

.item-card:hover::after {
    transform: scale(0) !important;
}


#item-list:has(#no-items-message) {
    display: grid;
    place-items: center;
    grid-template-columns: none;
    width: 100%;
}

.item-card .badge {
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    font-size: 0.75rem;
    font-weight: bold;
}

.item-card .badge.new-arrival {
    position: absolute;
    top: 10px;
    left: 10px;
    color: var(--bg-light);
    background-color: var(--ukrainian-blue);
}

.item-card .top-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    justify-content: center;
}

.item-card .badge.tag {
    color: var(--bg-light);
    background-color: var(--ukrainian-gold-dark);
}

#results-count {
    grid-column: 1 / -1;
    grid-row: 1;
}

#pagination {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
}

.page-links {
    display: flex;
    gap: 0.5rem;
}

.page-links * {
    padding: 0.5rem 0.75rem;
    border-radius: 6px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.page-links .current-page,
.page-links .ellipsis {
    user-select: none;
}

.page-links *:not(.ellipsis).current-page,
.page-links *:not(.ellipsis):not(.current-page):hover {
    background-color: var(--ukrainian-blue);
    color: var(--bg-light);
}

.radio-bar {
    display: flex;
}

.filter-section:has(.radio-bar) {
    align-items: center;
}

.radio-box {
    border: 2px solid var(--ukrainian-blue);
    transition: all 300ms ease;
}

.radio-box:not(:last-child) {
    border-right: none;
}

.radio-box:first-child {
    border-radius: 7px 0 0 7px;
}

.radio-box:last-child {
    border-radius: 0 7px 7px 0;
}

.radio-box:hover:not(:has(input:disabled)),
.radio-box:has(input:checked) {
    background-color: var(--ukrainian-blue);

    & label span {
        color: var(--bg-light);
    }
}

.radio-box input {
    display: none;
}

.radio-box label {
    font-weight: 600;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    height: 100%;
    text-align: center;
}

.radio-box input:disabled+label {
    cursor: not-allowed;
    opacity: 0.6;
}

.radio-box label span {
    width: max-content;
}