main {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    gap: 2rem;
}

main>img {
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    height: 20rem;
    object-position: center;
}

#event-info {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#info-left,
#info-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#info-right>span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#interest-button,
#add-to-calendar-button {
    --bg-color: var(--bg-light);
    --accent-color: var(--ukrainian-gold-dark);
    --text-color: #140f09;

    background-color: var(--bg-color);
    padding: .5rem;
    width: 100%;
    border-radius: 8px;
    color: var(--text-color);
    font-weight: bold;
    text-decoration: none;
    border: 2px solid var(--accent-color);
    transition: all 300ms ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

#interest-button span,
#add-to-calendar-button span {
    color: var(--text-color);
}

#interest-button:hover,
#interest-button.interested {
    background-color: var(--accent-color);
    color: var(--text-color);
}

#interest-button.interested span {
    font-variation-settings: 'FILL' 1 !important;
    color: var(--text-color);
}

#event-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

#add-to-calendar-button {
    --bg-color: var(--ukrainian-blue);
    --text-color: var(--bg-light);
    --accent-color: var(--ukrainian-blue);
}