main {
    display: grid;
    padding: 4rem;
    grid-template-rows: auto 1fr;
    gap: 2rem;
    justify-items: center;
}

main section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
    width: 100%;
}

.item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}

.item-availability {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.item-availability,
.item-availability * {
    color: var(--success-color);
}

.item-availability.none-available,
.item-availability.none-available * {
    color: var(--error-color);
}