main#item {
    display: flex;
    flex-direction: column;
    padding: 3rem 5rem;
}

#main {
    gap: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
}

#main img,
#main .image-placeholder {
    aspect-ratio: 3/4;
    width: 30vw;
    border-radius: 20px;
    box-shadow: 7px 7px 12px 3px rgba(0, 0, 0, 0.2);
}

#main .image-placeholder {
    background-color: var(--grey);
    border: 2px dashed var(--dark-grey);
    display: grid;
    place-items: center;
}

#main .image-placeholder span {
    font-size: 1.2rem;
    font-weight: bold;
}

#item-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#item-details h1 {
    font-size: 64px;
    font-family: 'Times New Roman', Times, serif;
    color: var(--ukrainian-blue);
}

#item-details p button {
    background: none;
    border: none;
    color: var(--ukrainian-blue);
    cursor: pointer;
    font-weight: bold;
    margin: 0;
    padding: 0;
    transition: all 300ms ease;
}

#item-details p button:hover {
    transform: translateY(-3px);
}

#item-details p button.remove {
    animation: remove-button 300ms forwards;
}

@keyframes remove-button {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    99% {
        opacity: 0;
        transform: translateX(20px);
        display: none;
    }

    to {
        opacity: 0;
        transform: translateX(20px);
    }
}

#quick-info .info-block {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: .5rem;
}

#availability-container {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    border-radius: 15px;
    background-color: #ece5d2;
}

#availability-container .material-symbols-outlined {
    font-size: 3rem;
}

#availability-container .available {
    color: var(--success-color);
}

#availability-container .unavailable {
    color: var(--error-color);
}

#availability-container .warning {
    color: var(--ukrainian-gold-dark);
}

#availability-container .waiting {
    color: var(--text-dark);
}

#action-bar {
    display: flex;
    gap: 1rem;
}

#action-bar button:not(.icon) {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 10px;
    width: 100%;
    background-color: var(--ukrainian-blue);
    cursor: pointer;
    border: none;
    transition: all 300ms ease;
}

#action-bar button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

#action-bar button.icon {
    height: 2.25rem;
    display: grid;
    place-items: center;
    border-color: var(--ukrainian-gold) !important;
}

#action-bar button.icon:hover,
#action-bar button.icon.favorited {
    background-color: var(--ukrainian-gold) !important;
}

#action-bar button.icon.favorited span {
    font-variation-settings: 'FILL' 1;
}